/* regras pertencentes ao 1ยบ (primeira) linha */
.topo{
    background-color: lawngreen;
}

.row-topo{

}
/* regras pertencentes ao 2ยบ (segundo) linha */
.esquerda, .direita{
    width: 50%;
    float: left;
}

.esquerda p, .direita p{
    color: white;
}

.img-destaque .esquerda{
    background-color: black;
}

.img-destaque .direita{
    background-color: red;
}
/* regras pertencentes ao 3ยบ (terceiro) linha */
.w-60{
    width: 60%;
    float: left;
    background-color: yellow;
}

.w-40{
    width: 40%;
    float: left;
    background-color: green;
}
/* regras pertencentes ao 4ยบ (quarto) linha */
.rodape{
    color: #FFF;
}

.row-topo .w-40{
    background-color: blue!important;
}
{
    margin: 0;
}

@media (max-width: 1200px){
    body{
      background: rad;
    }
}

@media (max-width: 992px){
    .w-40, .w-60{
        width: 50%;
    }
}

@media (max-width: 768px){
    body{
        background: violet;
    }
}

@media (max-whith: 520px){
    body{
        background: 
    }
}